{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container col-md-7">
        <div class="d-flex justify-content-between align-items-center">
            <br>
            <input type="button" class="btn btn-outline-warning" value="Atrás" onclick="history.back()">
        </div>
        <div class="container col-md-10">
        <h2 class="h2">Registro de Proyecto</h2>
        <form method="post" novalidate>
            {% csrf_token %} 
            {{form.as_p}}
            <button class="btn btn-outline-warning" type="submit">Crear</button>
        </form>
    </div>
</div>
{% endblock content %} 